<nav class="navbar">
  <div class="container">
    <div class="navbar-menu">
      <div class="navbar-start">
        <%= link_to 'All Products', products_path, class: 'navbar-item' %>

        <% Category.all.each do |category| %>
          <%= link_to category.name, category_path(category), class: 'navbar-item' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
